html {
  background-color: #eee;
}

#graph {
  display: block;
  height: 80vh;
  padding: 0px;
}

.upload {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.file-name {
  background-color: white;
}
