html {
  background-color: #eee;
}

#graph {
  height: 80vh;
  display: block;
}

.upload {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.file-name {
  background-color: white;
}